<h1><%= @document.title -%></h1>
<h2>Sections</h2>
<ul>
<% for section in @document.sections -%>
  <li><%=h section.name %></li>
<% end -%>
</ul>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
