<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Thaqalayn - Collaborative Islamic Research Tool</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
</head>
<body>
<div id="header">
  <h1><%= link_to 'Thaqalayn ثقلین', '/' -%></h1>
 <div id="menu">
  <ul id="nav">
   <li><a href="#">Home</a></li>
   <li><a href="#">About Thaqalayn</a></li>
   <li><a href="#">FAQ</a></li>
   <li><a href="#">Contact us</a></li>
  </ul>
 </div>
</div>
<div id="content">
<div id="right">
  <%= yield -%>
</div>
	
<div id="left">
	<div class="box">
	  <% if current_user -%>
	    <%= render :partial => 'shared/account_box' -%>
	  <% else -%>
	    <%= render :partial => 'shared/login_box' -%>
	  <% end -%>
	</div>
			
		
    <div class="box">
	   <div style="font-size: 0.8em;">Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a></div>
	</div>
</div>
</div>
</body>
</html>
